@tailwind base;
@tailwind components;
@tailwind utilities;

/* assets/fonts */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./src/assets/fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('./src/assets/fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./src/assets/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('./src/assets/fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    src: url('./src/assets/fonts/Poppins/Poppins-Black.ttf');
}

span,
p,
a,
h2,
h3 {
    font-family: 'Poppins';
}